main{
    overflow-y: auto;
}

main li{
    height: calc(100vh - 2*var(--pading_asside));
    margin-bottom: calc(5*var(--pading_asside));
}

.Edit{
    margin-right: calc(0.56*var(--pading_asside));
    display: inline-block;
    width:50%;
    float: right;
}

.Delete{
    margin-left: var(--pading_asside);
    width:35%;
    display: inline-block;
    float: left;
}

#audioPreview::before {
    content: "Close your Cards";
}

.previewClosed #audioPreview::before {
    content: "Watch your Cards";
}

.logout{
    background-image: radial-gradient(100% 100% at 100% 0, var(--greyBlue) 0, var(--blue) 100%);
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--Darkerblue) 0 -6px 0 inset;
}

.logout:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--Darkerblue) 0 -6px 0 inset;
    transform: translateY(-2px);
}
.logout:active {
    box-shadow: var(--Darkerblue) 0 3px 7px inset;
    transform: translateY(2px);
}

@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'btn'
        'main'
        'nav';
    }
    section{
        display: block;
        grid-area: btn;
        padding: 0 var(--pading_asside) var(--img-corner) var(--pading_asside);
    }
    main {
        height: calc(100vh - 2*var(--nav_height) - 3* var(--pading_asside));
    }
    aside {
        height: calc(100vh - 2*var(--nav_height) - 5* var(--pading_asside));
    }

    .previewClosed {
        grid-template-areas: 'head'
        'btn'
        'aside'
        'nav';
    }

    #audioPreview{
        margin-bottom: 0;
    }
}