{% extends 'base.html' %}

{% set page_head_title = 'Published' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('published.static', filename='css/published.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <ul>
        <li>
            {% include 'audio_player.html' %}
        </li>
    </ul>
{% endblock %}

{% block page_body_aside_content %}
    <h1>Before You Share Your Card</h1><br>
    <h2>Amazing! congratulations  on creating such a beautiful card!</h2><br><br><br>
    <p>You did such an amazing job! We really hope you enjoyed making this card, <b>CARD4YOU</b> wishing you best of luck with that card and hope it will achieve your goal!</p><br><br><br>
    <h3>Now, all you need to do is copy this link and share it!</h3><br>
    <button class="Button" onclick="copyTextToClipboard()">copy link</button>
    <input type="text" class="formInput" readonly id="CiteLink"><br><br><br><br>
    <h3>Want to keep edit it? you can! click here to keep editing</h3><br>
    <a href="New_Audio_creator.html"><button class="Button" id="goBackEdit">keep editing</button></a>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('published.static', filename='js/published.js') }}"></script>
{% endblock %}