<!DOCTYPE html>
{% extends 'base.html' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('shared.static', filename='css/shared.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <ul>
        <li>
            {% include 'audio_player.html' %}
        </li>
    </ul>
{% endblock %}

{% block page_body_js %}
    <script>animateElement_selector("{{ video_id }}", {{ video_info['dir']|lower }}, "{{ video_info['color'] }}", "{{ video_info['shape'] }}");</script>
{% endblock %}