{% extends 'base.html' %}

{% set page_head_title = 'Audio Creator' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('new_audio_creator.static', filename='css/new_audio_craetor.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    {% include 'audio_player.html' %}
{% endblock %}

{% block page_body_aside_content %}
    {% if video_info['dir'] == True %}
        {% set dir='rtl' %}
    {% else %}
        {% set dir='ltr' %}
    {% endif %}

    {% if video_id == -1 %}
        {% set action = url_for('published.create', VIDEO_ID=video_id)  %}
    {% else %}
        {% set action =  url_for('published.update', VIDEO_ID=video_id)  %}
    {% endif %}
    <form action="{{ action }}" method="POST" onload="loadMessage()" enctype="multipart/form-data">
        <h1>Customize <br>Your Card</h1><br><br><br>

        <label for="audio-upload" class="Button">Upload Audio</label>
        <input id="audio-upload" onchange="replace_music(this.files)" type="file" name="audio" accept="audio/*">

        <label for="file-upload" class="Button">Add Image</label>
        <input id="file-upload" onchange="replace_image(this.files)" type="file" name="image" accept="image/*"><br><br>

        {% if video_id== -1 %}
            {% set sender_value = '' %}
            {% set card_value = '' %}
        {% else %}
            {% set sender_value = video_info['sender_name'] %}
            {% set card_value = video_info['card_banner'] %}
        {% endif %}

        <label for="Audio_Name">Add Sender Name:</label>
        <input dir="{{ dir }}" value="{{ sender_value }}" placeholder="Enter Sender Name..." maxlength="30" type="text" id="Audio_Name" name="Audio_Name" class="formInput" onchange="change_sender(this.value)"><br>

        <label for="Choose_Categories">Add Card Banner:</label>
        <textarea dir="{{ dir }}" placeholder="Enter Card Banner..." rows="10" id="Choose_Categories" name="Choose_Categories" class="formInput" maxlength="2500" onchange="change_message(this.value)">{{ card_value }}</textarea><br><br>
        <input type="text" name="playerColorStr" id="playerColorSelected" hidden>
        <input type="text" name="shape" id="playerShapeSelected" hidden>
        <h2>Choose Your Color:</h2>
        <div class="colors">
            <label for="radioRed">
                <input name="playerColor" type="radio" id="radioRed" value="red" >
                <button id="red" class="color" type="button"></button>
            </label>
            <label for="radioOrange">
                <input name="playerColor" type="radio" id="radioOrange" value="orange">
                <button id="orange" class="color" type="button"></button>
            </label>
            <label for="radioYellow">
                <input name="playerColor" type="radio" id="radioYellow" value="yellow">
                <button id="yellow" class="color" type="button"></button>
            </label>
            <label for="radioGreen">
                <input name="playerColor" type="radio" id="radioGreen" value="green">
                <button id="green" class="color" type="button"></button>
            </label>
            <label for="radioWhite">
                <input name="playerColor" type="radio" id="radioWhite" value="white">
                <button id="white" class="color" type="button"></button>
            </label>
            <label for="radioBlue">
                <input name="playerColor" type="radio" id="radioBlue" value="blue">
                <button id="blue" class="color" type="button"></button>
            </label>
            <label for="radioPurple">
                <input name="playerColor" type="radio" id="radioPurple" value="purple">
                <button id="purple" class="color" type="button"></button>
            </label>
            <label for="radioPink">
                <input name="playerColor" type="radio" id="radioPink" value="pink">
                <button id="pink" class="color" type="button"></button>
            </label>
            <label for="radioBrown">
                <input name="playerColor" type="radio" id="radioBrown" value="brown">
                <button id="brown" class="color" type="button"></button>
            </label>
            <label for="radioBlack">
                <input name="playerColor" type="radio" id="radioBlack" value="black">
                <button id="black" class="color" type="button"></button>
            </label>
        </div><br><br>
        <h2>Choose Your Shape:</h2>
        <div class="shapes">
            <label for="radioCircle">
                <input name="playerShape" type="radio" id="radioCircle">
                <button id="circle" class="shape" type="button">
                    <img src="{{ url_for('new_audio_creator.static', filename='media/img/circle.png') }}" alt="circle" />
                </button>
            </label>
            <label for="radioSquare">
                <input name="playerShape" type="radio" id="radioSquare">
                <button id="square" class="shape" type="button">
                    <img src="{{ url_for('new_audio_creator.static', filename='media/img/square.png') }}" alt="square" />
                </button>
            </label>
            <label for="radioTri">
                <input name="playerShape" type="radio" id="radioTri">
                <button id="tri" class="shape" type="button">
                    <img src="{{ url_for('new_audio_creator.static', filename='media/img/triangle.png') }}" alt="triangle" />
                </button>
            </label>
            <label for="radioButterfly">
                <input name="playerShape" type="radio" id="radioButterfly">
                <button id="butterfly" class="shape" type="button">
                    <img src="{{ url_for('new_audio_creator.static', filename='media/img/butterfly.png') }}" alt="butterfly" />
                </button>
            </label>
            <label for="radioHeart">
                <input name="playerShape" type="radio" id="radioHeart">
                <button id="heart" class="shape" type="button">
                    <img src="{{ url_for('new_audio_creator.static', filename='media/img/heart.png') }}" alt="heart" />
                </button>
            </label>
            <label for="radioTear">
                <input name="playerShape" type="radio" id="radioTear">
                <button id="tear" class="shape" type="button">
                    <img src="{{ url_for('new_audio_creator.static', filename='media/img/tear.png') }}" alt="tear" />
                </button>
            </label>
        </div><br><br>

        <input {% if video_info['dir'] == True %}checked{% endif %}  name="textDir" onchange="changTextDir(this.checked)" type="checkbox" id="radioDir">
        <label class="Lsmall" for="radioDir">Change text direction right to left</label><br>

        <input id="input4" type="submit" value="Get Done!" class="submitButton Button">
    </form>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('new_audio_creator.static', filename='js/new_audio_craetor.js') }}"></script>
    <script>animateElement_selector("{{ video_id }}", {{ video_info['dir']|lower }}, "{{ video_info['color'] }}", "{{ video_info['shape'] }}");</script>
    {% if message != None %}
        <script>
            alert("{{ message }}");
            window.location.replace("{{ url_for('new_audio_creator.index') }}");
        </script>
    {% endif %}
{% endblock %}
