/*page structure designs*/
body{
    grid-template-areas: 'head nav'
    'main main';
}
h2{
    color: white;
}
main{

    overflow-y: auto;
}
.templateHeader{
    font-size: 4em;
    width: calc(100vw - 2*var(--pading_asside) - 350px);
    color: white;
}
main ul{
    width: calc(100vw - 2*var(--pading_asside));
}
li>h2{
    margin-left: calc((100vw - min(80vw, 768px))/2 - var(--pading_asside));
}
.player {
    margin: var(--pading_asside) auto;
    width: 80vw;
    max-width: 768px;
}
.player + a .Button{
    margin: var(--pading_asside) auto;
    width: 80vw;
    max-width: 768px;
}
@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'main'
        'nav';
    }
    main {
        height: calc(100vh - 2*var(--nav_height));
        text-align: center;
    }
    .templateHeader{
        margin: var(--pading_asside) auto;
        width: auto;
    }
    main ul{;
        width: auto;
    }
    .player {
        margin:auto;
    }
}