:root{
    /*space vars*/
    --pading_asside: 30px;
    --nav_height: 70px;
    --img_size: 80px;
    --img-corner: 15px;
    --img_color_phone_size: calc((100vw  - var(--pading_asside))/5 - 1em - 1px);
    --img_color_size: calc((40vw  - var(--pading_asside))/5 - 1em);
    --img_shape_size: calc((40vw  - var(--pading_asside))/3 - 1.5em);
    --img_shape_phone_size: calc((100vw  - var(--pading_asside))/3 - 1.5em);

    /*colors var*/
    --yellow: #FEE555;
    --orange:#F0732B;
    --pink: #F31066;
    --blue: #1463B8;
    --brown: #403233;

    /*colors for audio animation*/
    --red: #eb2513;
    --green: #96d130;
    --purple: #B32784;

    /*hue var*/
    --webkit_grad_white: -webkit-linear-gradient(to left, var(--cardWhite), white);
    --grad_white: linear-gradient(to left, var(--cardWhite), white);
    --webkit_grad_orane: -webkit-linear-gradient(to left, var(--yellow), var(--orange));
    --grad_orange: linear-gradient(to left, var(--yellow), var(--orange));

    --bordderColorButton: #e14f25;
    --yellowNav: #C7552F;
    --brightNav:#fada96;
    --cardWhite:#F1F3F4;
    --darkMain3: rgba(248, 105, 43, 0.42);

    /* color Fonts */
    --greyBlue: #A9C9D8;
    --Darkerblue: #124E78;
    --Darkestblue: #06437A;

    /*font size var*/
    --fontH1: 3.5em;
    --fontH2: 2em;
    --fontButton: 1.5em;
    --fontH3: 1.25em;
    --fontp: 1.125em;

    /*resizing rule*/
    --resizeR: 0.6;

    /*fonts*/
    --bigFontType: 'Fredoka One', cursive;
    --mediumFontType: 'Averia Sans Libre', cursive;
    --smallFontType: 'Work Sans', sans-serif;

    --previewOpenInMoblie: inherit;
}

*{
    z-index: 1;
    padding: 0; margin: 0;
    font-family: var(--smallFontType);
}

/*text design*/
h1{
    font-size: var(--fontH1);
    font-family: var(--bigFontType);
    color: var(--blue);
    letter-spacing: 4px;
    line-height: var(--fontButton);
}
main>h1{
    color: white;
    margin-left: var(--pading_asside);
}
h2{
    font-size: var(--fontH2);
    font-family: var(--mediumFontType);
    font-weight: bold;
    color: var(--Darkerblue);
    line-height: var(--fontH3);
}
label{
    font-size: var(--fontH2);
    font-family: var(--mediumFontType);
    font-weight: bold;
    color: var(--Darkerblue);
    line-height: var(--fontH3);
}
.Lsmall{
    font-size: var(--fontH3);
    color: var(--Darkestblue);
}
h3{
    font-size: var(--fontH3);
    font-family: var(--mediumFontType);
    font-weight: bold;
    color: var(--Darkestblue);
}
p{
    font-size: var(--fontp);
    font-family: var(--smallFontType);
    color: var(--Darkestblue);
    line-height: var(--fontButton);
}
em{
    font-family: var(--mediumFontType);
    font-weight: bolder;
}
/*page structure designs*/
body{
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas: 'head nav'
    'aside main';
    overflow: hidden;
}

section{
    background: var(--cardWhite);
    display: none;
}

/***************header design************/
header{
    height: var(--nav_height);
    background-color:  var(--yellowNav);
    grid-area: head;
    display: flex;
    align-items: center;
}
header div{
    height: calc(80%);
    padding-left: var(--pading_asside);

}
header div img{
    height: var(--nav_height);
}

nav{
    height: var(--nav_height);
    background-color:  var(--yellowNav);
    grid-area: nav;
    display: grid;
    align-content: center;
}

#navtool{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-start;
    height: var(--nav_height);
}
nav li{
    display: grid;
    padding-top: 0;
    margin-top: 0;
    height: var(--nav_height);
    align-items: center;
    width: 25%;
    justify-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    height: var(--nav_height);
    display: flex;
    align-items: center;
    
}

nav a h2{
    color: white;
    font-size: var(--fontH3);
    margin-left: 8px;
}
nav li:hover a{
    color: var(--Darkestblue);
   
}
nav li:hover a h2{
    color: var(--Darkestblue);

}
nav li:hover{
    color: var(--Darkestblue);
    background-color: var(--brightNav);
}

main{
    height: calc(100vh - var(--nav_height));
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--orange);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23fadc96' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23fbd189' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23fcc37c' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23fdb46f' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FEA261' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f99456' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f3864c' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ec7843' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e46a3b' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23DB5D34' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    grid-area: main;

}

main ul{
    margin: var(--pading_asside) auto;
    list-style-type: none;
}
main li{
    height: calc(100vh - 2*var(--pading_asside));
    margin-bottom: calc(10*var(--pading_asside));
}
main li .Button{
    margin-top: calc(1.25* var(--pading_asside));
}

aside{
    grid-area: aside;
    height: calc(100vh - var(--nav_height));
    overflow-y: auto;
    background: var(--cardWhite);
    padding: var(--pading_asside) ;
}
/*html components*/
/* cards */
.card1{
    width: 450px;
    height: 650px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    outline: 2px solid rgba(255, 255, 255, 0.7);
}

.card2{
    width: 450px;
    height: 650px;
    border-radius: 15px;
    background-color: #F4F4F4;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

form{
    margin-bottom: var(--pading_asside);
}

/*button*/
.Button{
    display: block;
    vertical-align: middle;
    text-align: center;
    font-size: var(--fontButton);
    width: 100%;
    line-height: calc(2* var(--pading_asside));
    height: calc(2* var(--pading_asside));
    text-transform: uppercase;
    font-family: var(--mediumFontType);
    font-weight: bolder;
    color: white;
    background-image: radial-gradient(100% 100% at 100% 0, var(--yellow) 0, var(--orange) 100%);;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--bordderColorButton) 0 -6px 0 inset;
    transition: box-shadow .15s ease-in,transform .15s ease-out;
    margin-top: var(--img-corner);
    margin-bottom: var(--img-corner);
}
.Button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--bordderColorButton) 0 -6px 0 inset;
    transform: translateY(-2px);
}
.Button:active {
    box-shadow: var(--bordderColorButton) 0 3px 7px inset;
    transform: translateY(2px);
}

a{
    text-decoration: none;
}

/************Form design**********/
.formInput{
    display: block;
    font-size: 16px;
    border-radius: calc(var(--img-corner)*0.75);
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--greyBlue);
    color: var(--Darkestblue);
    padding-left: 4%;
}

input.formInput{
    height: calc(1.5* var(--pading_asside));
    padding: 0 4%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--greyBlue);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--greyBlue);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--greyBlue);
}

.footerAside{
    width: calc(40vw - 2*var(--pading_asside));
    position: absolute;
    bottom: calc(2*var(--pading_asside));
}
/****** phone  *******/
@media only screen and (max-width: 768px){
    body{
        text-align: center;
    }
    header {
        justify-content: center;

    }
    header div{
        height: calc(80%);
        padding-left: 0;
    }
    aside {
        height: calc(100vh - 2*var(--nav_height) - 2*var(--pading_asside));
    }
    .footerAside{
        width: calc(100vw - 2*var(--pading_asside));
        position: relative;
        bottom: 0;
    }
}