

aside{
    background-color: white;
    
}
#formDiv{
    display: grid;
    grid-template-rows: 80% auto;
    grid-template-areas: 'inputsInformationDiv''submitDiv';
}

/**** aside ******/
#animationDiv{
    height: calc(100vh - var(--nav_height));
    width: 60vw;
}
.animationImg {
    height: 55vh;
    width: 55vh;
    margin: 0;
    object-fit: cover;
}

.divImgAnimation{
    height: 55vh;
    width: 55vh;
    position: relative;
    display: flex;
    z-index: 1;
    
}
/**** divs of image animation ****/
#divimg1{

    animation-name: topBottom;
    animation-duration: 11s;
    animation-delay: 0s ;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

#divimg2{

    left: 60%;
    animation-name: topBottom;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

#divimg3{
    left: 45%;
    flex-direction: row-reverse;
    animation-name: topBottom;
    animation-duration: 12s;
    animation-delay: 0s ;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

#divimg4{
    left: 30%;
    animation-name: topBottom;
    animation-duration: 6s;
    animation-delay: 0s ;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

#divimg5{
    animation-name: topBottom;
    animation-duration: 9s;
    animation-delay: 1s ;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 1;

}


#divimg6{
    left: 15%;
    bottom: 20%;
    animation-name: topBottom;
    animation-duration: 5s;
    animation-delay: 1s ;
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 1;


}

#divimg7{
    left: 19%;
    animation-name: topBottom;
    animation-duration: 13s;
    animation-delay: 1s ;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

#divimg8{
    z-index: 0;
    position: absolute;
    right: 17vw;
    bottom: -20vh;
    height: 58vw;
    width: 58vw;
    display: flex;
}

/***** end of divs of imgage animation *****/

/* the animation */
@keyframes topBottom {
    
        0%   { Bottom:0; }

        100% {Bottom:200%; }
        
      
}


@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'aside'
        'nav';
    }
    .templateHeader{
        margin: var(--pading_asside) auto;
        width: auto;
    }
    #divimg8{
        display: none;
    }
}