@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'btn'
        'main'
        'nav';
        text-align: center;
    }
    section{
        display: block;
        grid-area: btn;
        padding: 0 var(--pading_asside) var(--img-corner) var(--pading_asside);
    }
    main {
        height: calc(100vh - 2*var(--nav_height) - 3* var(--pading_asside));
    }
    aside {
        height: calc(100vh - 2*var(--nav_height) - 5* var(--pading_asside));
    }

    .previewClosed {
        grid-template-areas: 'head'
        'btn'
        'aside'
        'nav';
    }

    #audioPreview{
        margin-bottom: 0;
    }
}