:root{
    /*space vars*/
    --pading_asside: 30px;
    --nav_height: 55px;
    --img_size: 80px;
    --img_size_profile_page: 55vh;
    --max_img_size_profile_page:178.926px;
    --min_img_size_profile_page:125.03px;

    /*colors var*/
    --white: #F4F4F4;
    --yellow: #F8DD05;
    --orange:#F7971E;
    --pink: #F31066;
    --blue: #124E78;
    --lighter_blue: #237ace;
    --brown: #403233;
    --light_brown: #9a8478;

    /*colors for audio animation*/
    --red: #eb2513;
    --green: #96d130;
    --purple: #B32784;


    /*hue var*/
    --webkit_grad_white: -webkit-linear-gradient(to left, var(--white), white);
    --grad_white: linear-gradient(to left, var(--white), white);
    --webkit_grad_orane: -webkit-linear-gradient(to left, var(--yellow), var(--orange));
    --grad_orange: linear-gradient(to left, var(--yellow), var(--orange));
    --webkit_grad_pink: -webkit-linear-gradient(to left, var(--yellow), var(--pink));
    --grad_pink: linear-gradient(to left, var(--yellow), var(--pink));
    --webkit_grad_blue: -webkit-linear-gradient(to right, var(--lighter_blue), var(--blue));
    --grad_blue: linear-gradient(to right, var(--lighter_blue), var(--blue));
    --webkit_grad_brown: -webkit-linear-gradient(to left, var(--light_brown), var(--brown));
    --grad_brown: linear-gradient(to left, var(--light_brown), var(--brown));

    /*font size var*/
    --fontH1: 5.25em;
    --fontH2: 3.75em;
    --fontH3: 3em;
    --fontH4: 2em;
    --fontBB: 1.5em;
    --fontBigger: 1.25em;
    --fontp: 1.125em;
    --fontSmall: 1.05em;

    /*resizing rule*/
    --resizeR: 0.6;

    /*fonts*/
    --bigFontType: 'Fredoka One', cursive;
    --mediumFontType: 'Averia Sans Libre', cursive;
    --smallFontType: 'Work Sans', sans-serif;

    /*fonts*/
    --bigFontType: 'Fredoka One', cursive;
    --mediumFontType: 'Averia Sans Libre', cursive;
    --smallFontType: 'Work Sans', sans-serif;
}

*{
    padding: 0; margin: 0;
    font-family: var(--smallFontType);
}

/*text design*/
h1{
    font-size: var(--fontH1);
    font-family: var(--bigFontType);
}
h2{
    font-size: var(--fontH2);
    font-family: var(--bigFontType);
}
h3{
    font-size: var(--fontH3);
    font-family: var(--mediumFontType);
    font-weight: bold;
}
h4{
    font-size: var(--fontH4);
    font-family: var(--mediumFontType);
}
p{
    font-size: var(--fontp);
    font-family: var(--smallFontType);
}

/* colors */
#color1{
    background-color: var(--white);
}
#color2{
    background-color: var(--yellow);
}
#color3{
    background-color: var(--pink);
}
#color4{
    background-color: var(--blue);
}
#color5{
    background-color: var(--brown);
}
#hue1{
    background: var(--white);  /* fallback for old browsers */
    background: var(--webkit_grad_white);  /* Chrome 10-25, Safari 5.1-6 */
    background: var(--grad_white);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hue2{
    background: var(--yellow);  /* fallback for old browsers */
    background: var(--webkit_grad_orane);  /* Chrome 10-25, Safari 5.1-6 */
    background: var(--grad_orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hue3{
    background: var(--pink);  /* fallback for old browsers */
    background: var(--webkit_grad_pink); /* Chrome 10-25, Safari 5.1-6 */
    background: var(--grad_pink); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#hue4{
    background: var(--blue);  /* fallback for old browsers */
    background: var(--webkit_grad_blue); /* Chrome 10-25, Safari 5.1-6 */
    background: var(--grad_blue);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#hue5{
    background: var(--brown);  /* fallback for old browsers */
    background: var(--webkit_grad_brown); /* Chrome 10-25, Safari 5.1-6 */
    background: var(--grad_brown);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*page structure designs*/
body{
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-areas: 'head nav'
    'main aside';
    overflow: hidden;
}
.loginPage{
    grid-template-areas: 'main aside'
    'main aside';
    overflow: hidden;
}
header{
    height: var(--nav_height);
    background-color:  var(--yellow);
    grid-area: head;
}
nav{
    height: var(--nav_height);
    background-color:  var(--yellow);
    grid-area: nav;
}
/*nav design - לא בטוחה שצריך!!!!!!*/
#navtool {
    font-style: var(--smallFontType);
    font-size: var(--fontSmall);
    background-color: var(--webkit_grad_pink);
 }

main{
    height: calc(100vh - var(--nav_height));
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--white);
    grid-area: main;
}

.mainlogin{
    height: 100vh;
    text-align: center;
}
.sizeTitle{
    font-size:xx-large;
}

/*details of profile in page profile design*/
.profilePage{
    font-family: var(--Averia);
}
#profileMain{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 'leftSideProfile rightSideProfile'
}
.profilePage img{
    display: table-cell;
    height: var( --img_size_profile_page);
    width: var( --img_size_profile_page);
    object-fit: cover;
    border-radius: 10px;
    max-height: var(--max_img_size_profile_page);
    max-width: var(--max_img_size_profile_page);
    min-height: var(--min_img_size_profile_page);
    min-width:var(--min_img_size_profile_page) ;
}



.profilePage button{
    width: var( --img_size_profile_page);
    height: 15vh;
    border-radius: 10px;
    max-width: var(--max_img_size_profile_page);
    /*font: size 12vh;*/

}


#rightSideProfile{
    grid-area: rightSideProfile;
}
#leftSideProfile{
    grid-area: leftSideProfile;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profileCheck{

        display: grid;
        grid-template-areas: 'followersDetails followingDetails audioDetails';
        justify-content: space-around;
        background: var(--pink);  /* fallback for old browsers */
        background: var(--webkit_grad_white); /* Chrome 10-25, Safari 5.1-6 */
        background: var(--grad_white);
        border-radius: 15px;
        opacity: 1;

    }
/*records of follower/following/audio design*/
    .profileRecords{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--mediumFontType);
        opacity: 1 ;
    }

#followersDetails{
    grid-area:followersDetails;


}
#followingDetails{
    grid-area:followingDetails;


}
#audioDetails{
    grid-area:audioDetails;


}
aside{
    grid-area: aside;
    overflow-x: hidden;
    overflow-y: auto;
    padding: var(--pading_asside);
}

/*phone display*/
@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'main'
        'nav';
    }
    main {
        height: calc(100vh - 2*var(--nav_height));
    }
}

/* cards */
.card1{
    width: 450px;
    height: 650px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    outline: 2px solid rgba(255, 255, 255, 0.7);
}
.card2{
    width: 450px;
    height: 650px;
    border-radius: 15px;
    background-color: #F4F4F4;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

/*user profile side*/
.userProfile{
    width: 100%;
    align-items: center;
    display: table;
    table-layout: fixed;
}
.userProfile img{
    display: table-cell;
    height: var(--img_size);
    width: var(--img_size);
    object-fit: cover;
    border-radius: 10px;
}
.userProfileText{
    padding-left: calc(var(--img_size) + var(--pading_asside)/2);
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.userProfileText h1{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--fontBigger);
}
.userProfileText p{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--fontSmall);
    color: var(--light_brown);
}
/*css for smaller friends*/
.userProfile img.smaller{
    height: calc(var(--img_size) * var(--resizeR));
    width: calc(var(--img_size) * var(--resizeR));
}
.smaller+.userProfileText{
    padding-left: calc(var(--img_size) * var(--resizeR) + var(--pading_asside)/2);
}
.smaller+.userProfileText h1{
    font-size: 1em;
}
.smaller+.userProfileText p{
    font-size: 0.9em;
}


/*html components*/
.Button{
    font-size: var(--fontBB);
    width: 250px;
    height: 60px;
    text-transform: uppercase;
    font-family: var(--mediumFontType);
    font-weight: bolder;
    color: var(--white);
    background-image: radial-gradient(100% 100% at 100% 0, var(--yellow) 0, var(--orange) 100%);;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, green 0 -6px 0 inset;
    transition: box-shadow .15s ease-in,transform .15s ease-out;
    margin-top: 2px;
    margin-bottom: 2px;
}
.Button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, green 0 -6px 0 inset;
    transform: translateY(-2px);
}
.Button:active {
    box-shadow: green 0 3px 7px inset;
    transform: translateY(2px);
}

/******************SPECIFICS*********************************/
/******************Audio creator*********************************/
#firstCreationPart{
    width: calc(100% - 2*var(--pading_asside));
    max-width: 720px;
    display: grid;
    grid-template-areas: 'audio_upload';
    float: right;
    margin-right: var(--pading_asside);
    padding-top: var(--pading_asside);
}
.uploadMusic{
    grid-area: audio_upload;
    width:100%;
}
/*other*/
.rowDiv{
    display: inline-block;
    margin-right: 20px;
}
.cardTitle{
    color: var(--white);
}
.color{
    width: 80px;
    height: 80px;
    background-color: black;
    display: inline-block;
    margin-right: 10px;
    margin-top: 0.5em;
}
.colorTitle{
    margin-top: 2em;
    margin-left: 20px;
}
.colors{
    margin-left: 20px;
}
.components{
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

hr{
    position: relative;
    border: 0 ;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 20px;

}
hr:before{
    content: '';
    background: linear-gradient(to right , transparent, #818078, transparent);
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
}
hr:after{
    content: attr(data-content);
    position: relative;
    padding: 0 20px;
    background-color: var(--white);
    color: var(--blue);
    line-height: 1;
}


/*search input design*/
#webIcon{
    grid-area: webIcon;
}
#searchButton{
    text-indent: -999px;
    overflow: hidden;
    width: 10px;
    padding: 10px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent /*url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center*/;
    cursor: pointer;
    opacity: 0.7;
}


#site-search {
    color: var(--brown);
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
    grid-area: site-search;
  }

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: var(--brown);
  }

/*.search-icon {
    text-indent: -999px;
    overflow: hidden;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  } */

