:root{
    /*space vars*/
    --pading_asside: 30px;
    --nav_height: 55px;
    --img_size: 80px;
    --img_size_profile_page: 55vh;
    --max_img_size_profile_page:178.926px;
    --min_img_size_profile_page:125.03px;

    /*colors var*/
    --white: #F4F4F4;
    --yellow: #F8DD05;
    --orange:#F7971E;
    --pink: #F31066;
    --blue: #124E78;
    --lighter_blue: #237ace;
    --brown: #403233;
    --light_brown: #9a8478;

    /*colors for audio animation*/
    --red: #eb2513;
    --green: #96d130;
    --purple: #B32784;


    /*hue var*/
    --webkit_grad_white: -webkit-linear-gradient(to left, var(--white), white);
    --grad_white: linear-gradient(to left, var(--white), white);
    --webkit_grad_orane: -webkit-linear-gradient(to left, var(--yellow), var(--orange));
    --grad_orange: linear-gradient(to left, var(--yellow), var(--orange));
    --webkit_grad_pink: -webkit-linear-gradient(to left, var(--yellow), var(--pink));
    --grad_pink: linear-gradient(to left, var(--yellow), var(--pink));
    --webkit_grad_blue: -webkit-linear-gradient(to right, var(--lighter_blue), var(--blue));
    --grad_blue: linear-gradient(to right, var(--lighter_blue), var(--blue));
    --webkit_grad_brown: -webkit-linear-gradient(to left, var(--light_brown), var(--brown));
    --grad_brown: linear-gradient(to left, var(--light_brown), var(--brown));

    /*font size var*/
    --fontH1: 5.25em;
    --fontH2: 3.75em;
    --fontH3: 3em;
    --fontH4: 2em;
    --fontBB: 1.5em;
    --fontBigger: 1.25em;
    --fontp: 1.125em;
    --fontSmall: 1.05em;

    /*resizing rule*/
    --resizeR: 0.6;

    /*fonts*/
    --bigFontType: 'Fredoka One', cursive;
    --mediumFontType: 'Averia Sans Libre', cursive;
    --smallFontType: 'Work Sans', sans-serif;
}

*{
    padding: 0; margin: 0;
    font-family: var(--smallFontType);
}

/*text design*/
h1{
    font-size: var(--fontH1);
    font-family: var(--bigFontType);
}
h2{
    font-size: var(--fontH2);
    font-family: var(--bigFontType);
}
h3{
    font-size: var(--fontH3);
    font-family: var(--mediumFontType);
    font-weight: bold;
}
h4{
    font-size: var(--fontH4);
    font-family: var(--mediumFontType);
}
p{
    font-size: var(--fontp);
    font-family: var(--smallFontType);
}

/*page structure designs*/
body{
}

/*phone display*/
@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'main'
        'nav';
    }
    main {
        height: calc(100vh - 2*var(--nav_height));
    }
}

/* cards */
.card1{
    width: 450px;
    height: 650px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    outline: 2px solid rgba(255, 255, 255, 0.7);
}
.card2{
    width: 450px;
    height: 650px;
    border-radius: 15px;
    background-color: #F4F4F4;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

/*html components*/
.Button{
    font-size: var(--fontBB);
    width: 250px;
    height: 60px;
    text-transform: uppercase;
    font-family: var(--mediumFontType);
    font-weight: bolder;
    color: var(--white);
    background-image: radial-gradient(100% 100% at 100% 0, var(--yellow) 0, var(--orange) 100%);;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, green 0 -6px 0 inset;
    transition: box-shadow .15s ease-in,transform .15s ease-out;
    margin-top: 2px;
    margin-bottom: 2px;
}
.Button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, green 0 -6px 0 inset;
    transform: translateY(-2px);
}
.Button:active {
    box-shadow: green 0 3px 7px inset;
    transform: translateY(2px);
}

/******************Audio creator*********************************/
.uploadMusic{
    grid-area: audio_upload;
    width:100%;
}

.color{
    width: 80px;
    height: 80px;
    background-color: black;
    display: inline-block;
    margin-right: 10px;
    margin-top: 0.5em;
}

/******************media player design*********************************/
.player {
    margin: var(--pading_asside) var(--pading_asside) 0 var(--pading_asside);
    position: relative;
    height: calc(70vh + var(--fontSmall)*4 + 60px);
    background-color: var(--white);
    border: 2px solid green;
}

.player .imgbox {
    position: relative;
    width: 100%;
    height: 70vh;
    max-height: 750px;
    cursor: pointer;
}

.player .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Audio_Title {
    font-size: var(--fontSmall);
    font-family: var(--mediumFontType);
    margin-left: 5%;
    display: flex;
    position: relative;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
}
.scrollTitle{
    font-size: var(--fontSmall);
    font-family: var(--mediumFontType);
}

.Audio_post_desc{
    margin: var(--pading_asside);
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
