main{
    overflow-y: auto;
}
main li{
    height: calc(100vh - 2*var(--pading_asside));
    margin-bottom: calc(5*var(--pading_asside));
}
.Edit{
    width:60%;
    display: inline-block;
    float: right;
}
.Delete{
    width:35%;
    display: inline-block;
    float: left;
}
#audioPreview::before {
    content: "Close your Cards";
}

.previewClosed #audioPreview::before {
    content: "Watch your Cards";
}

.footerAside{
    width: calc(40vw - 2*var(--pading_asside));
    position: absolute;
    bottom: calc(2*var(--pading_asside));
}

@media only screen and (max-width: 768px){
    .footerAside{
        margin-top: calc(2*var(--pading_asside));
        position: relative;
        bottom: 0;
    }
}