{% extends 'base.html' %}

{% set page_head_title = 'Login' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    {% include 'baloons.html' %}
{% endblock %}

{% block page_body_aside_content %}
    <form action="Profile.html" method="POST">
                <h1>Log In</h1><br><br>
                <div>
                    <br><label for="inputUserName">User Name</label>
                    <input type="text" id="inputUserName" placeholder="Enter your username..." autocomplete="on"
                           class="formInput" required></div>
                <div>
                    <br><label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" placeholder="Enter your password..." class="formInput"
                           required></div>
                <br><input id="inputLogin" type="submit" value="log in" class="submitButton Button">
                <br>
            </form>
        <h3>Don't have user yet?</h3>
            <a href="{{ url_for('register.index') }}">
            <input id="input4" type="submit" value="Join Us!" class="submitButton Button">
            </a>
        <br><br><br>
        {% if massage != None %}
        <script>
            alert("{{ massage }}");
            window.location.replace("{{ url_for('login.index') }}");
        </script>
    {% endif %}
{% endblock %}
