#goBackEdit{
    margin-bottom: calc(2*var(--pading_asside));
}

@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'aside'
        'nav';
    }
    .templateHeader{
        margin: var(--pading_asside) auto;
        width: auto;
    }
}