
{% if  update %}
    {% set value_user_name =user_name %}
    {% set value_Nickname = nickname  %}
    {% set value_Password = password %}
    {% set value_Email = email %}
    {% set value_submit = "Update Profile" %}
    {% set value_action = "/update_profile" %}

{% else %}
    {% set value_user_name ="" %}
    {% set value_Nickname = ""  %}
    {% set value_Password = "" %}
    {% set value_Email = "" %}
    {% set value_submit = "Register" %}
    {% set value_action = "" %}
{% endif %}
{{ value_action }}

<form action="{{ value_action }}" id="formDiv">


    <div id="inputsInformationDiv">
        <div>
            <label for="inputUserName">User Name</label>
            <input type="text" id="inputUserName" name="inputUserName" placeholder="johnDoe" autocomplete="on" class="formInput" value="{{ value_user_name }}" required><br>
        </div>
        <div>
            <label for="inputNickname">Nickname</label>
            <input class="formInput" type="text" id="inputNickname" name="inputNickname" placeholder="jonny" autocomplete="on" value="{{ value_Nickname}}" required></div><br>
        <div>
            <div>
                <!-- "Must contain at least one number and one uppercase and lowercase letter"-->
                <label for="inputPassword">Password</label>
                <input class="formInput" type="password" id="inputPassword" name="inputPassword" value="{{ value_Password }}" required minlength="6"
                       maxlength="30"
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}$" placeholder="********"
                       oninvalid="setCustomValidity('Make sure your password is at least 6 chars. In addition it has at least 1 number, 1 lowercase char and 1 upper case.')"
                       onchange="try{setCustomValidity('')}catch(e){}"><br>
            </div>

            <div>
                <label for="inputConfirmPassword">Confirm Password</label>
                <input onchange="validatePassword()" class="formInput" type="password" id="inputConfirmPassword" value="{{ value_Password }}" required minlength="6" maxlength="30" placeholder="********"><br>
            </div>

            <div>
                <label for="inputEmail">Email</label>
                <input class="formInput" type="email" id="inputEmail" name="inputEmail" value="{{ value_Email }}" autocomplete="on" required placeholder="johnDoe@gmail.com"></div><br>
        </div>
    </div>
    <br>
    <div id="submitDiv">
        <a href="Register.html"><input id="inputRegister" type="submit" value="{{ value_submit }}" class="submitButton Button"></a><br>
    </div>
</form>

<script src="{{ url_for('profile_form.static', filename='js/profile_form.js') }}"></script>