<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/mystyle.css"> <!-- this is the connection link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Averia+Serif+Libre:ital,wght@0,700;1,400&family=Fredoka+One&family=Martel+Sans:wght@600&family=Ruluko&family=Work+Sans&display=swap" rel="stylesheet">
<body>
    <header>
    </header>
    <nav>
    </nav>
    <main>
        <div class="typhography">
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
            <h4>Header 4</h4>
            <br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="colors">
            <br>
            <br>
            <h2>colors:</h2>
            <div class="color" id="color1"></div>
            <div class="color" id="color2"></div>
            <div class="color" id="color3"></div>
            <div class="color" id="color4"></div>
            <div class="color" id="color5"></div>
            <br>
            <div class="color" id="hue1"></div>
            <div class="color hue2" id="hue2"></div>
            <div class="color hue3" id="hue3"></div>
            <div class="color" id="hue4"></div>
            <div class="color" id="hue5"></div>
        </div>
        <br>
        <br>
        <h2 style="margin-left: 20px;">card:</h2>
        <div class="components hue2">
            <br>
            <br>
            <div class="card1 rowDiv">
            </div>
            <div class="card2 rowDiv">
            </div>
        </div>
        <br>
        <h2 style="margin-left: 20px;">buttons:</h2>
        <div class="components hue3">
            <br>
            <br>
            <div class="card1 rowDiv">
            </div>
            <div class="card2 rowDiv">
            </div>
        </div>
        <button>button</button>
    </main>
    <aside>
        <div class="userProfile">
            <img src="../static/images/user.jpeg">
            <div class="userProfileText">
                <h1>Jamey123_awsomefonter11111111</h1>
                <p>Jamey Fonter</p>
            </div>
        </div>
        <div class="userProfile">
            <img src="../static/images/user.jpeg" class="smaller">
            <div class="userProfileText">
                <h1>Jamey123_awsomefonter11111111</h1>
                <p>Jamey Fonter</p>
            </div>
        </div>
    </aside>
</body>
</html>