<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="D:\WEB\team 4\team4\static\css\mystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <img src="D:\WEB\team 4\team4\static\images\more graphics\Asset 2.png" alt="">
    </header>
    <nav>
        
        <ul id="navtool">
            <li><a href="#" id="navHome" ><i class="fa fa-home"></i>Home</a></li>
            <li><a href="#" id="navTemplate" ><i class="fa fa-file-audio-o" aria-hidden="true"></i>Templates</a></li>
            <li><a href="#" id="navCreate" ><i class="fa fa-plus-square-o" aria-hidden="true"></i>Create</a></li>
        </ul>
    </nav>
    <main>
        <h1 id="homeTitle">Card4U</h1>
        <p class="card1" id="homaParagraph">Winnie the Pooh once said: <br> <em> you dont spell love, you feel it</em>. 
            <br> And what better way to feel if not through <em> music</em>? <br> Here you will create a <em> greeting card</em>, 
            in which you will upload an <em>audio</em> file of any music you choose. <br> In addition, 
            in the greeting card you can select the image you want to add 
            and choose from a variety of animations that will move along with the music.</p>
        <img src="" alt="">

    </main>

    <aside>
        <div id="animationDiv"> 
            <div class="divImgAnimation" id="divimg1"><img src="D:\WEB\team 4\team4\static\images\more graphics\af2388fc-50ae-4df6-ac9c-348496b14fe4.png" alt="" class="animationImg" id="yellowBaloon"></div>
            <div class="divImgAnimation" id="divimg2"><img src="D:\WEB\team 4\team4\static\images\more graphics\ad2cbb9b-395d-4078-94fc-3b7f14eced06.png" alt="" class="animationImg" id="blueBaloon"></div>
            <div class="divImgAnimation" id="divimg3"> <img src="D:\WEB\team 4\team4\static\images\more graphics\8949941f-1602-43f7-82f0-b8eed46316eb.png" alt="" class="animationImg" id="pinkBaloon"></div>
            <div class="divImgAnimation" id="divimg4">  <img src="D:\WEB\team 4\team4\static\images\more graphics\f67e011a-0231-44aa-87aa-91ee2ab04b3d.png" alt="" class="animationImg" id="yellowGuitar"></div>
            <div class="divImgAnimation" id="divimg5"><img src="D:\WEB\team 4\team4\static\images\more graphics\3a543b0e-6619-4b45-b516-2b4d2ee25572.png" alt="" class="animationImg" id="blueGuitar"></div>
            <!--<div class="divImgAnimation" id="divimg6"> <img src="D:\WEB\team 4\team4\static\images\more graphics\3a1966bc-2f9a-4721-accd-a849b5ae9bad.png" alt="" class="animationImg" id="brightYellowBaloon"></div>
            <div class="divImgAnimation" id="divimg7"> <img src="D:\WEB\team 4\team4\static\images\more graphics\3f3b4dfe-0c54-4e4c-8933-708010848247.png" alt="" class="animationImg" id="bigLeftHeart"></div>
            <div class="divImgAnimation" id="divimg8"> <img src="D:\WEB\team 4\team4\static\images\more graphics\29809d39-ae4c-4b7e-9002-e37adc5b9ade.png" alt="" class="animationImg" id="bigHeart"></div>
            <div class="divImgAnimation" id="divimg9"> <img src="D:\WEB\team 4\team4\static\images\more graphics\51079f52-9cab-4d8c-8da5-6eac0223df04.png" alt="" class="animationImg" id="smallHeart"></div>
            <div class="divImgAnimation" id="divimg10"> <img src="D:\WEB\team 4\team4\static\images\more graphics\02522268-d5d8-4886-8c0c-ffa7ebacf2b2.png" alt="" class="animationImg" id="star"></div>           -->
           
        </div>
        <div id="homeButtonDiv">
        <button class="Button" id="homeButton">Create new card</button>
    </div>
    </aside>
    
</body>
</html>