<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Audio Creator</title>
    <link rel="stylesheet" href="../static/css/mystyle.css"> <!-- this is the connection link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Averia+Serif+Libre:ital,wght@0,700;1,400&family=Fredoka+One&family=Martel+Sans:wght@600&family=Ruluko&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    </header>
    <nav>
    </nav>
    <main>
        <button class="button-77">Upload Audio</button>
    </main>
    <aside>
        <div class="userProfile">
            <img src="../static/images/user.jpeg">
            <div class="userProfileText">
                <h1>Jamey123_awsomefonter11111111</h1>
                <p>Jamey Fonter</p>
            </div>
        </div>
        <div class="userProfile">
            <img src="../static/images/user.jpeg" class="smaller">
            <div class="userProfileText">
                <h1>Jamey123_awsomefonter11111111</h1>
                <p>Jamey Fonter</p>
            </div>
        </div>
    </aside>
</body>
</html>