<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Audio Creator</title>
    <link rel="stylesheet" href="../static/css/audio.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <script src="../static/lib/p5/p5.js"></script>
    <script src="../static/lib/p5/addons/p5.sound.js"></script>
    <script src="../static/javascript/audio_canvas.js"></script>
    <script src="../static/javascript/animatorCaller.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="loadAnime()">
    <button id="audioPreview" onclick="changeDisplay()" class="Button">Close Preview</button>
    <div class="player">
        <div class="imgbox">
            <img alt='background_music' src="../static/images/Black.png" class="mmg">
        </div>
            <div class="Audio_Title" dir="rtl">
                <h1 class="scrollTitle">תודה רבה לנעמה ולשי שתמכו ועזרו ונתנו את כל מה שהן יכלו!</h1>
            </div>
            <div class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
        <audio src="" controls controlsList="nodownload" onplay="onPlay"></audio>
    </div>
    <form action="" method="POST" class="Audio_post_desc">
        <label for="audio-upload" class="custom-file-upload">
            <span>Upload Audio</span>
            <span>{{Audio path}}</span>
        </label>
        <input required id="audio-upload" onchange="replace_music(this.files)" type="file" accept=".mp3,audio/*">
        <label for="file-upload" class="custom-file-upload">
            <span>Upload Image</span>
            <span>{{Image path}}</span>
        </label>
        <input required id="file-upload" onchange="replace_image(this.files)" type="file">
        <label for="Audio_Name">Audio Name</label><br>
        <input required type="text" id="Audio_Name" name="Audio_Name" class="formInput">
        <label for="Author_Name">Author Name</label><br>
        <input required type="text" id="Author_Name" name="Author_Name" class="formInput">
        <label for="Choose_Categories">Add Description</label><br>
        <textarea rows="10" id="Choose_Categories" name="Choose_Categories" class="formInput"></textarea>
        <input name="playerColor" type="radio" id="red" class="color" style="background: var(--red); cursor: pointer;">
        <input name="playerColor" type="radio" id="orange" class="color" style="background: var(--orange); cursor: pointer;">
        <input name="playerColor" type="radio"  id="yellow" class="color" style="background: var(--yellow); cursor: pointer;">
        <input name="playerColor" type="radio"  id="green" class="color" style="background: var(--green); cursor: pointer;">
        <input name="playerColor" type="radio"  id="blue" class="color" style="background: var(--blue); cursor: pointer;">
        <input name="playerColor" type="radio"  id="purple" class="color" style="background: var(--purple); cursor: pointer;">
        <input name="playerColor" type="radio"  id="pink" class="color" style="background: var(--pink); cursor: pointer;">
        <input name="playerColor" type="radio"  id="brown" class="color" style="background: var(--brown); cursor: pointer;">
        <input name="playerColor" checked type="radio"  id="black" class="color" style="background: black; cursor: pointer;">
        <input name="playerColor" type="radio"  id="white" class="color" style="background: white; cursor: pointer;">
        <input id="input4" type="submit" value="Publish" class="submitButton Button">
    </form>
</body>
</html>