<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/mystyle.css"> <!-- this is the connection link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Averia+Serif+Libre:ital,wght@0,700;1,400&family=Fredoka+One&family=Martel+Sans:wght@600&family=Ruluko&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <header>
        <link rel="stylesheet" href="..\static\css\mystyle.css">
    </header>
    <nav>
            <div class="w3-bar  w3-border" id="navtool">
           <a href="..\templates\feed.html" class="w3-bar-item w3-button"><i class="fa fa-home">Home</i></a>
           <a href="#" class="w3-bar-item w3-button"><i class="fa fa-plus-square-o" aria-hidden="true">New post</i></a>
           <a href="#" class="w3-bar-item w3-button"><i class="fa fa-heart" aria-hidden="true">Saved</i></a>
           <a href="..\templates\profile.html" class="w3-bar-item w3-button"><i class="fa fa-user-circle" aria-hidden="true">Profile</i></a>
       </div>
    </nav>
    <main>
        <div class="profilePage" id="profileMain">
            <div class="profilePage" id="leftSideProfile">
                <img src="../static/images/user.jpeg">
                <button class="Button">Follow</button>
            </div>
                <div class="profilePage" id="rightSideProfile">
                    <div><h3>Jamey123_awsomefonter11111111</h3></div>
                    <div class="profilePage" id="profileCheck">
                        <div class="profileRecords" id="followersDetails">
                           <span>25</span>
                           <span>followers</span>
                            
                        </div>
                        <div class="profileRecords" id="followingDetails">
                            <span>28</span>
                            <span>following</span>
                            
                        </div>
                        <div class="profileRecords" id="audioDetails">
                           <span>5</span> 
                           <span>audio</span>
                            
                        </div>
                    </div>
                    <h4>Jamey Fonter</h4>
                    <p>bla bla</p>
                </div>
        </div>
    </main>
    <aside>
        <div class="userProfile">
            <img src="../static/images/user.jpeg">
            <div class="userProfileText">
                <h1>Jamey123_awsomefonter11111111</h1>
                <p>Jamey Fonter</p>
            </div>
        </div>
        <div class="userProfile">
            <img src="../static/images/user.jpeg" class="smaller">
            <div class="userProfileText">
                <h1>Jamey123_awsomefonter11111111</h1>
                <p>Jamey Fonter</p>
            </div>
        </div>
    </aside>
</body>
</html>