<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/audio.css">
    <link rel="stylesheet" href="../static/css/fullMain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/lib/p5/p5.js"></script>
    <script src="../static/lib/p5/addons/p5.sound.js"></script>
    <script src="../static/javascript/audio_canvas.js"></script>
    <script src="../static/javascript/template.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Averia+Serif+Libre:ital,wght@0,700;1,400&family=Fredoka+One&family=Martel+Sans:wght@600&family=Ruluko&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body onload="loadAnime()">
{% include 'components/header_nav.html' %}
<main >
        <br><h1 class="templateHeader">Templates:</h1><br><br>
        <ul>
            <li>
                <h2>Happy Birthday Card</h2><br>
                {% include 'components/player.html' %}
                <a href="New_Audio_creator.html">
                    <button class="Button">Edit Template</button>
                </a>
            </li>
        </ul>
    </main>
</body>
</html>