<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card4U</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/audio.css">
    <link rel="stylesheet" href="../static/css/published.css">
    <script src="../static/lib/p5/p5.js"></script>
    <script src="../static/lib/p5/addons/p5.sound.js"></script>
    <script src="../static/javascript/audio_canvas.js"></script>
    <script src="../static/javascript/shared.js"></script>
</head>
<body onload="loadAnime()">
    <header>
    <div>
        <img alt='logo' src="../static/images/more%20graphics/blackLogo.png" class="mmg">
    </div>
</header>
    <nav></nav>
    <main style="overflow-y: scroll">
    <div class="player">
        <div class="imgbox">
            <img alt='background_music' src="../static/images/card4you.png" class="mmg">
        </div>
        <div dir="rtl" class="Audio_Title">
            <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
        </div>
        <div dir="rtl" class="Audio_Title">
            <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
        </div>
        <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
        <a><button class="Button">choose for edit</button></a>
    </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
        <div class="player">
            <div class="imgbox">
                <img alt='background_music' src="../static/images/card4you.png" class="mmg">
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">תודה רבה למרצה נעמה ולמתרגלת שי, תודה על תשומת הלב ההכוונה העזרה והתמיכה המדהימה! נהננו מאוד בפרויקט ואנחנו כל כך גאות בתוצר, תודה על ההקשבה העזרה וההכוונה מקוות מאוד שאתן נהנות מהתוצר! </h1>
            </div>
            <div dir="rtl" class="Audio_Title">
                <h1 class="scrollTitle">ממשפחת קבוצה 4</h1>
            </div>
            <audio src="../static/music/thankyou.mp3" controls controlsList="nodownload" onplay="onPlay"></audio>
            <a><button class="Button">choose for edit</button></a>
        </div>
    </main>
</body>
</html>