<header>
    <div>
        <img alt='logo' src="../static/images/more%20graphics/whiteLogo.png" class="mmg">
    </div>
</header>
<nav>
    <ul id="navtool">
        <li><a href="homePage.html"><i class="fa fa-home fa-lg"></i>
            <h2>HOME</h2></a></li>
        <li><a href="templates.html"><i class="fa fa-file-audio-o fa-lg" aria-hidden="true"></i>
            <h2>TEMPLATE</h2></a></li>
        <li><a href="New_Audio_creator.html"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
            <h2>CREATE</h2></a></li>
        {% if user %}
        <li><a href="Profile.html"><i class="fa fa-id-card-o" aria-hidden="true"></i>
            <h2>PROFILE</h2></a></li>
        {% else %}
        <li><a href="logIn.html"><i class="fa fa-id-card-o" aria-hidden="true"></i>
            <h2>LOGIN</h2></a></li>
        {% endif %}
    </ul>
</nav>