<div class="player">
    {% if not audio %}
    {% set audio = {'imgSRC': "../static/images/Black.png", 'cardBanner': "Card Banner",
    'senderName': "Sender Name", 'musicSRC': "../static/music/happybday.mp3"} %}
    {% endif %}
    <div class="imgbox">
        <img alt='background_music' src={{audio.imgSRC}} class="mmg">
    </div>
    <div class="Audio_Title">
        <h1 class="scrollTitle" id="message">{{audio.cardBanner}}</h1>
    </div>
    <div class="Audio_Title">
        <h1 class="scrollTitle" id="sender">{{audio.senderName}}</h1>
    </div>
    <audio src={{audio.musicSRC}} controls controlsList="nodownload"></audio>
</div>