aside{
    display: none;
}

body{
    grid-template-areas: 'head nav'
    'main main';
}

.player {
    margin: var(--pading_asside) auto;
    width: 80vw;
    max-width: 768px;
}

main{
    overflow-y: auto;
}

@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'main'
        'nav';
    }
    main {
        height: calc(100vh - 2*var(--nav_height));
    }
}