<div class="player" id="{{ video_id }}">
    <div class="imgbox">
        <img alt='background_music' src="{{ video_info['img'] }}" class="mmg">
    </div>
        <div class="Audio_Title">
            <h1 class="scrollTitle" id="message">{{ video_info['card_banner'] }}</h1>
        </div>
        <div class="Audio_Title">
            <h1 class="scrollTitle" id="sender">{{ video_info['sender_name'] }}</h1>
        </div>
    <audio src="{{ video_info['audio'] }}" controls controlsList="nodownload"></audio>
</div>

