
#formDiv{
    display: grid;
    grid-template-rows: 80% auto;
    grid-template-areas: 'inputsInformationDiv''submitDiv';
}

@media only screen and (max-width: 768px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'head'
        'aside'
        'nav';
    }
    .templateHeader{
        margin: var(--pading_asside) auto;
        width: auto;
    }
}