{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    {% include 'baloons.html' %}
{% endblock %}

{% block page_body_aside_content %}
    <h1 >CARD 4 YOU</h1><br>
    <h2><em> "you don't spell love, you feel it"</em></h2><br>
    <h3>~Winnie the Pooh</h3><br>
    <p >
        <br> And what better way to feel if not through <em> music</em>? <br><br> Here you will create a <em> greeting card</em>. <br>
        choose any  <em>audio</em> you want in order to delight, excite and show love to your loved one!!! <br><br></p>
    <br>

    <!-- hide it if user is in session-->
    <h2>So what you are waiting for?</h2>
        <a href="{{ url_for('login.index') }}"> <button class="Button" id="logInButton">log In</button></a>
    <br><br>

{% endblock %}
