{% extends 'base.html' %}

{% set page_head_title = 'Catalog' %}
{% set page_main_class = 'catalog' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='css/catalog.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <br><h1 class="templateHeader">Templates:</h1><br><br>
    <ul>
        <li>
            <h2>Happy Birthday Card</h2><br>
            {% with player_id="123" %}
                {% include 'audio_player.html' %}
                <script>animateElement_selector("#p{{ player_id }}", false, "blue", "butterfly");</script>
            {% endwith %}

            {% with player_id="1234" %}
                {% include 'audio_player.html' %}
                <script>animateElement_selector("#p{{ player_id }}", false, "pink", "butterfly");</script>
            {% endwith %}
        </li>
    </ul>
{% endblock %}
