{% extends 'base.html' %}

{% set page_head_title = 'Profile Edit' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('profile_edit.static', filename='css/profile_edit.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <h1 class="templateHeader">Your Cards:</h1>
    <ul>
        <li>
            {% include 'audio_player.html' %}
            <a href="Profile.html"><button class="Button Delete logout">Delete</button></a>
            <a href="New_Audio_creator.html"><button class="Button Edit">Edit Your card</button></a>
        </li>
    </ul>
{% endblock %}

{% block page_body_aside_content %}
    <h1>Change Info</h1>
    <br><br>
    {% include 'profile_form.html' %}
    <h3>You can also delete your user:</h3>
    <a href="{{ url_for('profile.index') }}"><button class="Button logout">delete your user</button></a><br>
    <br>
{% endblock %}

{% block page_body_js %}
    <script>animateElement_selector("{{ video_id }}", {{ video_info['dir']|lower }}, "{{ video_info['color'] }}", "{{ video_info['shape'] }}");</script>
{% endblock %}
